<div class="footer">
    <div class="footer-right">
        <div class="map" id="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12352.200385644215!2d-72.23857895424698!3d-39.28711441428641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9614623c8e00fe6f%3A0xe7812f04b9706fcc!2sVillarrica%2C%20Araucania!5e0!3m2!1sen!2scl!4v1654918726427!5m2!1sen!2scl"
                width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="footer-left">
        <div class="contacto">
            <h4>Contactanos en nuestras redes sociales</h4>
            <ul>
                <li>
                    <p>Facebook</p>
                    <a href="http://www.facebook.com/">
                        <img src="/logos/PngItem_5134688.png" alt="facebook" class="rs-icon">
                    </a>
                </li>
                <li>
                    <p>Whatsapp</p>
                    <a href="https://www.whatsapp.com/">
                        <img src="/logos/PngItem_1139665.png" alt="whatsapp" class="rs-icon">
                    </a>
                </li>
                <li>
                    <p>Twitter</p>
                    <a href="https://www.twitter.com/">
                        <img src="/logos/PngItem_4834.png" alt="twitter" class="rs-icon">
                    </a>
                </li>
            </ul>        
        </div>
    </div>
    <div class="footer-full">
        <p>Copyright 2022 Pozos Pehuenco</p>
    </div>
</div>