<form class="modal-content animate" action="/action_page.php">
    <div class="container">
        <ul>
            <li>
                <label for="uname">Usuario</label>
                <input type="text" name="usame requiered" placeholder="Ingrese usuario">
            </li>
            <li>
                <label for="psw">Contraseña</label>
                <input type="password" name="psw" placeholder="Ingrese contraseña">
            </li>
            <li class="remember-li">  
                <div>
                    <label for="remember" class="remember-lbl">Recuérdame</label>
                    <input type="checkbox" checked="checked" name="remember" class="remember-chk">
                </div>     
                <div>
                    <span class="psw">¿Olvidaste <a href="#">tu contraseña</a>?</span>
                </div>
            </li>
            <li class="botones-li">
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                class="cancelbtn">Cancelar</button>
                <button type="submit" class="iniciabtn">Iniciar Sesión</button>
            </li>
        </ul>                
    </div>

    <div class="container">
        
    </div>
</form>