<form class="modal-content animate" action="/Home.html" method="post">
    <div class="container">
        <ul>
            <li>
                <label for="uname">Ingrese su nombre</label>
                <input type="text" name="nombre" placeholder="Ingrese nombre">
            </li>
            <li>
                <label for="lname">Ingrese su apellido</label>
                <input type="text" name="apellido" placeholder="Ingrese apellido">
            </li>
            <li>
                <label for="psw">Ingrese su contraseña</label>
                <input type="password" name="contrasena" placeholder="Ingrese contraseña">
            </li>
            <li>
                <label for="psw">Repita su contraseña</label>
                <input type="password" name="contrasena" placeholder="Repita contraseña">
            </li>
            <li>
                <label for="mail">Ingrese su Email</label>
                <input type="text" name="correo_electronico" placeholder="Ingrese mail">
            </li>
            <li>
                <label for="phone">Ingrese su numero de Telefono</label>
                <input type="text" name="numero_telefono" placeholder="Ingrese su numero">
            </li>
            <li>
                <label for="dir">Ingrese su direccion</label>
                <input type="text" name="direccion" placeholder="Ingrese su direccion">
            </li>
            
            <li class="botones-li">
                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancelar</button>
                <button type="submit" class="iniciabtn">Registrarse</button>
            </li>
        </ul>
    </div>
</form>