<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Adm.css">
    <link rel="icon" href="/logos/logo.png">
</head>
<body>
    <div class="topnav">
        <div>
            <h1>Pozos Pehuenco Admin</h1>
        </div>
        <div class="exit">
            <a href="AdmLogin.html">
                <button type="submit" class="btn-exit">Cerrar sesion</button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/icons/publication.png" alt="publicaciones" style="width: 100%;">
                <div class="container">
                    <h2 class="blc-h2">Publicaciones</h2>
                    <p class="title"></p>
                    <a href="AdmPublications.html">
                        <p><button class="button">Ir a publicaciones</button></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="/icons/folder-adm.png" alt="proyectos" style="width: 100%;">
                <div class="container">
                    <h2 class="blc-h2">Proyectos</h2>
                    <p class="title"></p>
                    <a href="AdmProjects.html">
                        <p><button class="button">Ir a proyectos</button></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="/icons/partners.png" alt="socios" style="width: 100%;">
                <div class="container">
                    <h2 class="blc-h2">Socios</h2>
                    <p class="title"></p>
                    <a href="AdmPartners.html">
                        <p><button class="button">Ir a socios</button></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script type = "text/javascript" src = "/js/uwu.js">

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
</body>

</html>