<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/Adm.css">
</head>
<body>
    <div class="topnav">
        <div>
            <h1>Pozos Pehuenco Admin</h1>
        </div>
        <div class="menu">
            <a href="AdmMenu.html">
                <button type="submit" class="btn-menu">Menu</button>
            </a>
        </div>
    </div>
    <div class="row-pbt">
        <div class="column-pbt">
            <div class="card-pbt">
                <img src="../ext/img/Pozo-n1.png" alt="publicaciones" style="width: 100%;">
                <div class="container">
                    <h2 class="blc-h2">Proyecto X</h2>
                    <h5>Instalacion ...</h5>
                    <a onclick="">
                        <p><button class="button">Editar</button></p>
                    </a>
                    <p class="title">Se hizo una Instalacion ...</p>
                </div>
            </div>
        </div>
        <div class="column-pbt">
            <div class="card-pbt">
                <img src="../ext/img/Pozo-n1.png" alt="proyectos" style="width: 100%;">
                <div class="container">
                    <h2 class="blc-h2">Proyecto X</h2>
                    <h5>Instalacion ...</h5>
                    <a onclick="">
                        <p><button class="button">Editar</button></p>
                    </a>
                    <p class="title">Se hizo una Instalacion ...</p>
                </div>
            </div>
        </div>
    </div>
   
    <script type = "text/javascript" src = "../js/uwu.js">

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
</body>

</html>