<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Adm.css">
    <link rel="icon" href="/logos/logo.png">
</head>
<body>
    <div class="topnav">
        <div>
            <h1>Pozos Pehuenco Admin</h1>
        </div>
        <div class="menu">
            <a href="AdmMenu.html">
                <button type="submit" class="btn-menu">Menu</button>
            </a>
        </div>
    </div>

    <div class="row">
        <h2>Proyectos Usuarios</h2>
        <table>
            <tr>
              <th>Proyecto</th>
              <th>correo</th>
              <th>adjuntar Archivo</th>
            </tr>
            <tr>
              <td>ProyectoLinares</td>
              <td>Maria@gmail.com</td>
              <td><input type="file" id="#" name="#" accept="image/png, image/jpeg, text/pdf"></td>
            </tr>
            <tr>
              <td>MoctezumaProyect</td>
              <td>German@gmail.com</td>
              <td><input type="file" value="Subir archivo"></td>
            </tr>
            <tr>
              <td>ProyectoBosqueCol</td>
              <td>fernando@gmail.com</td>
              <td><input type="file" value="Subir archivo"></td>
            </tr>
            <tr>
              <td>ProyectoBosqueCol</td>
              <td>fernando@gmail.com</td>
              <td><input type="file" value="Subir archivo"></td>
            </tr>
            <tr>
              <td>ProyectoBosqueCol</td>
              <td>fernando@gmail.com</td>
              <td><input type="file" value="Subir archivo"></td>
            </tr>
        
          </table>
    </div>
    
</body>
</html>