<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Adm.css">
    <link rel="icon" href="/logos/logo.png">
</head>
<body>
    <div class="topnav">
        <div>
            <h1>Pozos Pehuenco Admin</h1>
        </div>
        <div class="menu">
            <a href="AdmMenu.html">
                <button type="submit" class="btn-menu">Menu</button>
            </a>
        </div>
    </div>
    <h2 class="par">Editar Socios</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/logos/starlink.png" alt="Internet" style="width: 100%;">
                <div class="container">
                    <h2 class="blc-h2">Starlink</h2>
                    <a onclick="document.getElementById('id07').style.display='block'"">
                        <p><button class="button">Editar</button></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="/logos/morcas.png" alt="Recicle" style="width: 100%;">
                <div class="container">
                    <h2 class="blc-h2">Morcas</h2>
                    <a onclick="document.getElementById('id07').style.display='block'"">
                        <p><button class="button">Editar</button></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="/logos/directv.png" alt="TV" style="width: 100%;">
                <div class="container">
                    <h2 class="blc-h2">Directv</h2>
                    <a onclick="document.getElementById('id07').style.display='block'"">
                        <p><button class="button">Editar</button></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="/logos/ecer.png" alt="TV" style="width: 100%;">
                <div class="container">
                    <h2 class="blc-h2">ECER</h2>
                    <a onclick="document.getElementById('id07').style.display='block'"">
                        <p><button class="button">Editar</button></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="id07" class="modal">
        <span onclick="document.getElementById('id07').style.display='none'" class="close"
            title="Close Modal">&times;</span>

        <!-- CONTENIDO DEL MODAL-->
        <form class="modal-content animate" action="/action_page.php">
            <div class="container">
                <ul>
                    <li>
                        <label for="tituloproyecto01">Nombre de la empresa</label>
                        <input type="text" name="name-partner" placeholder="Nombre empresa">
                    </li>
                    <li>
                        <label for="sub-titulo01">Link de la pagina</label>
                        <input type="text" name="link-partner" placeholder="Ingrese Link">
                    </li>
                    <li>
                        <label for="img-display-proyect-01">Subir Logo de la Empresa en 602 x 300 px</label>
                        <input onchange="validateSize(this)" type="file" id="file" value="subir imagen" placeholder="Subir Logo" name="#" accept="image/png, image/jpeg, text/pdf">
                    </li>

                    <li class="botones-li">
                        <button type="button" onclick="document.getElementById('id07').style.display='none'"
                            class="cancelbtn">Cancelar</button>
                        <button type="submit" class="iniciabtn">Guardar</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
   
    <script type = "text/javascript" src = "/js/uwu.js">

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
</body>
</html>