<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Adm.css">
    <link rel="icon" href="/logos/logo.png">
</head>
<body>
    <div class="topnav">
        <div>
            <h1>Pozos Pehuenco Admin</h1>
        </div>
        <div class="menu">
            <a href="AdmMenu.html">
                <button type="submit" class="btn-menu">Menu</button>
            </a>
        </div>
    </div>
    <h2 class="pbt">Publicaciones</h2>
    <div class="row-pbt">
        <div class="column-pbt">
            <div class="card-pbt">
                <img src="/img/Pozo-n1.png" alt="publicaciones" style="width: 100%;">
                <div class="container">
                    <h2 class="blc-h2">Proyecto X</h2>
                    <h5>Instalacion ...</h5>
                    <p class="title">Se hizo una Instalacion ...</p>
                    <a onclick="document.getElementById('id05').style.display='block'"">
                        <p><button class="button">Editar</button></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="column-pbt">
            <div class="card-pbt">
                <img src="/img/Pozo-n1.png" alt="proyectos" style="width: 100%;">
                <div class="container">
                    <h2 class="blc-h2">Proyecto X</h2>
                    <h5>Instalacion ...</h5>
                    <p class="title">Se hizo una Instalacion ...</p>
                    <a onclick="document.getElementById('id06').style.display='block'"">
                        <p><button class="button">Editar</button></p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="id05" class="modal">
        <span onclick="document.getElementById('id05').style.display='none'" class="close"
            title="Close Modal">&times;</span>

        <!-- CONTENIDO DEL MODAL-->
        <form class="modal-content animate" action="/action_page.php">
            <div class="container">
                <ul>
                    <li>
                        <label for="tituloproyecto01">Titulo proyecto</label>
                        <input type="text" name="" placeholder="Titulo">
                    </li>
                    <li>
                        <label for="desc01">Descripcion</label>
                        <input type="text" name="" placeholder="Ingrese Descripcion">
                    </li>
                    <li>
                        <label for="img-display-proyect-02">Suba video para el titulo</label>
                        <input onchange="validateSize(this)" type="file" id="file" value="Subir video">
                    </li>
                    <li>
                        <label for="img-display-proyect-01">Suba imagen para el titulo</label>
                        <input onchange="validateSize(this)" type="file" id="file" value="subir imagen" placeholder="Subir foto">
                    </li>

                    <li class="botones-li">
                        <button type="button" onclick="document.getElementById('id05').style.display='none'"
                            class="cancelbtn">Cancelar</button>
                        <button type="submit" class="iniciabtn">Guardar</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>

    <div id="id06" class="modal">
        <span onclick="document.getElementById('id06').style.display='none'" class="close"
            title="Close Modal">&times;</span>

        <!-- CONTENIDO DEL MODAL-->
        <form class="modal-content animate" action="/action_page.php">
            <div class="container">
                <ul>
                    <li>
                        <label for="tituloproyecto02">Titulo proyecto</label>
                        <input type="text" name="" placeholder="Titulo">
                    </li>
                    <li>
                        <label for="desc02">Descripcion</label>
                        <input type="text" name="" placeholder="Ingrese Descripcion">
                    </li>
                    <li>
                        <label for="img-display-proyect-02">Suba video para el titulo</label>
                        <input onchange="validateSize(this)" type="file" id="file" value="Subir video">
                    </li>
                    <li>
                        <label for="img-display-proyect-02">Suba imagen para el titulo</label>
                        <input onchange="validateSize(this)" type="file" id="file" value="Subir imagen">
                    </li>

                    <li class="botones-li">
                        <button type="button" onclick="document.getElementById('id06').style.display='none'"
                            class="cancelbtn">Cancelar</button>
                        <button type="submit" class="iniciabtn">Guardar</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
   
    <script type = "text/javascript" src = "/js/uwu.js">

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
</body>

</html>