<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <div class="topnav">
        <div>
            <img src="../ext/logos/logo.png" class="logo">
            <h1 class="title">Pozos Pehuenco</h1>
        </div>
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label for="menu__toggle" class="menu__btn">
                <span></span>
            </label>
            <ul class="menu__box">
                <li><a class="menu__item" href="Home.html">Inicio</a></li>
                <li><a class="menu__item" href="Profile.html">Perfil</a></li>
                <li><a class="menu__item" href="quotes.html">Cotizaciones</a></li>
                <li><a class="menu__item" href="Myprojects.html">Mis Proyectos</a></li>
            </ul>
        </div>
    </div>

    <div class="row-profile">
        <div class="left-column-client">
            <div class="card-menu-client">
                <ul class="menu-client">
                    <li><a class="menu__client" href="Profile.html">Mi Perfil</a></li>
                    <li><a class="menu__client" href="ChgPassword.html">Cambiar clave</a></li>
                    <li><a class="menu__client" href="Myprojects.html">Mis Proyectos</a></li>
                    <li><a class="menu__client" href="/logout">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
        
        <div class="right-projects">
            <% if(success =='borrado') {%>
                <div class="container p-4 align-top">
                    <div class="row">
                        <div class="col-md-4 mx-auto">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <%= success %>
        
                            </div>
                            
                        </div>
                    </div>
                </div>
        <% }%>
            <% for( i=0;i<proyects.length;i++) { %>
                <div class="column projects">
                    <div class="card projects">
                        
                        <button >
                            <a href="Proyect.html/<%= proyects[i].id_proyecto %>">
                                <img src="/icons/add_folder.png" alt="" >
                                
                            </a>
                            <p><%= proyects[i].nombre_proyecto %> </p>
                        </button>


                    </div>
                </div>
               
            <% } %>
            

            <div class="column projects">
                <div class="card projects">
                    <button onclick="document.getElementById('id04').style.display='block'">
                        <img src="/icons/add_folder.png" alt="">
                        <p>Nuevo Proyecto</p>
                    </button>
                </div>
            </div>

        </div>


        <!--MODAL EDITAR PROYECTO -->

        <div id="id03" class="modal">
            <span onclick="document.getElementById('id03').style.display='none'" class="close"
                title="Close Modal">&times;</span>

            <!-- CONTENIDO DEL MODAL-->
            <form class="modal-content animate" action="/action_page.php">
                <div class="container">
                    <ul>
                        <li>
                            <label for="Nproject">Nombre del proyecto</label>
                            <input type="text" name="" placeholder="Nombre del proyecto">
                        </li>
                        <li>
                            <label for="direction">Direcci&oacute;n &oacute;</label>
                            <input type="text" name="" placeholder="Ingrese Direccion">
                        </li>
                        <li>
                            <label for="direction">Descripci&oacute;n</label>
                            <input type="" name="" placeholder="Ingrese Direccion">
                        </li>
                
                        <li class="botones-li">
                            <button type="button" onclick="document.getElementById('id03').style.display='none'"
                                class="cancelbtn">Cancelar</button>
                            <button type="submit" class="iniciabtn">Eliminar</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <!--MODAL AGREGAR PROYECTO -->

        <div id="id04" class="modal">
            <span onclick="document.getElementById('id04').style.display='none'" class="close"
                title="Close Modal">&times;</span>

            <!-- CONTENIDO DEL MODAL-->
            <form class="modal-content animate" action="/addProyect" method="POST">
                <div class="container">
                    <ul>
                        <li>
                            <label for="Nproject">Nombre del proyecto</label>
                            <input type="text" name="nombre_proyecto" placeholder="Nombre del proyecto">
                        </li>
                        <li>
                            <label for="direction">Direcci&oacute;n</label>
                            <input type="text" name="ubicacion" placeholder="Ingrese Direccion">
                        </li>
                        <li>
                            <label for="direction">Descripci&oacute;n</label>
                            <input type="" name="descripcion" placeholder="">
                        </li>
                        <li>
                            <input type="hidden" id="correo_electronico" name="correo_electronico" value="<%= user.correo_electronico %>">
                        </li>
                        
                        <li class="botones-li cotizaciones"> 
                            <a href="quotes.html">
                                <button type="button" class="cotiza" >Crear cotizacion</button>
                            </a>
                        </li>
                        
                        <li class="botones-li">
                            <button type="button" onclick="document.getElementById('id04').style.display='none'"
                                class="cancelbtn">Cancelar</button>
                            <button type="submit" class="iniciabtn">Guardar</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>


        <div class="footer">
            <div class="footer-right">
                <div class="map" id="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12352.200385644215!2d-72.23857895424698!3d-39.28711441428641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9614623c8e00fe6f%3A0xe7812f04b9706fcc!2sVillarrica%2C%20Araucania!5e0!3m2!1sen!2scl!4v1654918726427!5m2!1sen!2scl"
                        width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="footer-left">
                <div class="contacto">
                    <h4>Contactanos en nuestras redes sociales</h4>
                    <ul>
                        <li>
                            <p>Facebook</p>
                            <a href="http://www.facebook.com/">
                                <img src="/logos/PngItem_5134688.png" alt="facebook" class="rs-icon">
                            </a>
                        </li>
                        <li>
                            <p>Whatsapp</p>
                            <a href="https://www.whatsapp.com/">
                                <img src="/logos/PngItem_1139665.png" alt="whatsapp" class="rs-icon">
                            </a>
                        </li>
                        <li>
                            <p>Twitter</p>
                            <a href="https://www.twitter.com/">
                                <img src="/logos/PngItem_4834.png" alt="twitter" class="rs-icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-full">
                <p>Copyright 2022 Pozos Pehuenco</p>
            </div>
        </div>
        <script type="text/javascript" src="/js/uwu.js">

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
            </script>
</body>

</html>