<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/logos/logo.png">
</head>

<body>

    <div class="topnav">
        <div>
            <img src="/logos/logo.png" class="logo">
            <h1 class="title">Pozos Pehuenco</h1>
        </div>
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label for="menu__toggle" class="menu__btn">
                <span></span>
            </label>
            <ul class="menu__box">
                <li><a class="menu__item" href="Home.html">Inicio</a></li>
                <li><a class="menu__item" href="Profile.html">Perfil</a></li>
                <li><a class="menu__item" href="quotes.html">Cotizaciones</a></li>
                <li><a class="menu__item" href="Myprojects.html">Mis Proyectos</a></li>
            </ul>
        </div>
    </div>

    <div class="quotes">
        <form class="qts-content" action="/cotizacion" method="POST">
            <div>
                <h2 class="qts">Cotizaciones</h2>
            </div>
            <div class="box-qts">
                <ul>
                    <li>
                        <label for="">Estudio de la zona: $46.990</label>
                    </li>
                    <li>
                        <label for="">Mano de obra: $8.000/hr</label>
                    </li>
                    <li class="input">
                        <fieldset>
                            <legend>Elija que desea instalar</legend>

                            <input type="radio" id="basic" name="install">
                            <label for="basic">Instalacion basica</label>

                        </fieldset>
                    </li>
                    
                    <li>
                        
                    </li>
                    <li class="input">
                        <fieldset>
                            <input type="radio" id="advance" name="install">
                            <label for="advance" class="margin-top: 25px">Instalacion Avanzada</label>
                        </fieldset>

                    </li>
                    <li>
                        <label for="city-select">Elija su punto mas cercano:</label>
                        <select id="city-select">
                            <optgroup label="--Por favor elija su punto mas cercano--">
                                <option value="carahue">Carahue: $27.000</option>
                                <option value="cunco">Cunco: $7.500</option>
                                <option value="curarrehue">Curarrehue: $5.000</option>
                                <option value="freire">Freire: $4.000</option>
                                <option value="loncoche">Loncoche: $5.000</option>
                                <option value="melipeuco">Melipeuco: $14.000</option>
                                <option value="pucon">Pucon: $10.000</option>
                                <option value="quepe">Quepe: $5.000</option>
                                <option value="temuco">Temuco: $28.000</option>
                                <option value="tolten">Tolten: $24.000</option>
                                <option value="villarrica">Villarrica: $10.000</option>
                            </optgroup>
                        </select>
                    </li>
                    <li class="botones-li">
                        <!-- <button type="button" onclick="document.getElementById('id02').style.display='none'"
                            class="qtsbtn">Generar cotizacion</button> -->
                            <button type="submit" class="iniciabtn">Editar</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>


    <div class="footer">
        <div class="footer-right">
            <div class="map" id="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12352.200385644215!2d-72.23857895424698!3d-39.28711441428641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9614623c8e00fe6f%3A0xe7812f04b9706fcc!2sVillarrica%2C%20Araucania!5e0!3m2!1sen!2scl!4v1654918726427!5m2!1sen!2scl"
                    width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="footer-left">
            <div class="contacto">
                <h4>Cont&aacute;ctanos en nuestras redes sociales</h4>
                <ul>
                    <li>
                        <p>Facebook</p>
                        <a href="http://www.facebook.com/">
                            <img src="/logos/PngItem_5134688.png" alt="facebook" class="rs-icon">
                        </a>
                    </li>
                    <li>
                        <p>Whatsapp</p>
                        <a href="https://www.whatsapp.com/">
                            <img src="/logos/PngItem_1139665.png" alt="whatsapp" class="rs-icon">
                        </a>
                    </li>
                    <li>
                        <p>Twitter</p>
                        <a href="https://www.twitter.com/">
                            <img src="/logos/PngItem_4834.png" alt="twitter" class="rs-icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-full">
            <p>Copyright 2022 Pozos Pehuenco</p>
        </div>
    </div>
    <script type="text/javascript" src="/js/uwu.js">

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
</body>

</html>